<h1>New Vehicle</h1>
<form #f="ngForm" novalidae (ngSubmit)="submit()">
  <!-- <p>
    {{vehicle|json}}
  </p> -->
  <div class="form-group">
    <label for="make">Make</label>
    <select name="makeId" id="make" required #Make="ngModel" class="form-control"(change)="onMakeChange()" [(ngModel)]="vehicle.makeId">
      <option value=""></option>
      <option *ngFor="let make of makes" value="{{make.id}}">{{make.name}}</option>
    </select>
  </div>
  <div class="alert alert-danger" *ngIf="Make.touched && !Make.valid">Please specify the make</div>
  <div class="form-group">
      <label for="model">Model</label>
      <select name="modelId" id="model" required class="form-control" [(ngModel)]="vehicle.modelId" #model="ngModel">
        <option value=""></option>
        <option *ngFor="let m of models" value="{{m.id}}">{{m.name}}</option>
      </select>
    </div>
    <div class="alert alert-danger" *ngIf="model.touched && !model.valid">Please specify the model</div>
    <p>Is this vehicle registered?</p>
    <label for="registered" class="radio-inline">
      <input type="radio" name="isRegistered" id="registered" [value]="true" [(ngModel)]="vehicle.isRegistered">Yes
    </label>
    <label for="notRegistered" class="radio-inline">
        <input type="radio" name="isRegistered" id="notRegistered" [value]="false" [(ngModel)]="vehicle.isRegistered">No
      </label>
    <h2>Features</h2>
    <div *ngFor="let f of features" class="checkbox">
      <label for="feature{{f.id}}">
        <input id="feature{{f.id}}" type="checkbox" (change)="onFeatureToggle(f.id,$event)" [checked]="vehicle.features.includes(f.id)"> {{f.name}}
      </label>
    </div>
    <h2>Contact</h2>
    <div class="form-group">
      <label for="contactName">Name</label>
      <input type="text" required #name="ngModel" id="contactName" class="form-control" [(ngModel)]="vehicle.contact.name" name="contactName">
    </div>
    <div class="alert alert-danger" *ngIf="name.touched && !name.valid">Please enter your name</div>
    <div class="form-group">
      <label for="contactPhone">Phone</label>
      <input type="text" required #phone="ngModel" id="contactPhone" class="form-control" [(ngModel)]="vehicle.contact.phone" name="contactPhone">
    </div>
    <div class="alert alert-danger" *ngIf="phone.touched && !phone.valid">Please enter your phone number</div>
    <div class="form-group">
      <label for="contactEmail">Email</label>
      <input type="text" id="contactEmail" class="form-control" [(ngModel)]="vehicle.contact.email" name="contactEmail">
    </div>
    <button class="btn btn-primary" [disabled]="!f.valid">Save</button>
    <!-- <button class="btn btn-danger" *ngIf="vehicle.id" (click)="delete()">Delete</button> -->
    
</form>